{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

        <title>通信与死锁</title>

        <link rel="stylesheet" href="{% static 'dist/reset.css' %}">
        <link rel="stylesheet" href="{% static 'dist/reveal.css' %}">
        <link rel="stylesheet" href="{% static 'dist/theme/black.css' %}">

        <!-- Theme used for syntax highlighted code -->
        <link rel="stylesheet" href={% static 'plugin/highlight/monokai.css' %}"">
    </head>
    <body>
        <div class="reveal">
            <div class="slides">
                <section>
                    <img src="{% static 'PPT/通信与死锁/幻灯片1.PNG' %}" >
                </section>
                <section>
                    <img src="{% static 'PPT/通信与死锁/幻灯片2.PNG' %}" >
                </section>
                <section>
                    <img src="{% static 'PPT/通信与死锁/幻灯片3.PNG' %}" >
                </section>
                <section>
                    <img src="{% static 'PPT/通信与死锁/幻灯片4.PNG' %}" >
                </section>

            </div>
        </div>


        <script src="{% static 'dist/reveal.js' %}"></script>
        <script src="{% static 'plugin/notes/notes.js' %}"></script>
        <script src="{% static 'plugin/markdown/markdown.js' %}"></script>
        <script src="{% static 'plugin/highlight/highlight.js' %}"></script>
        <script>
            Reveal.initialize({
                hash: true,
                plugins: [ RevealMarkdown, RevealHighlight, RevealNotes ]
            });
            //翻页事件监听
            Reveal.addEventListener( 'slidechanged', function( event ) {

            } );
        </script>
    </body>
</html>


